@import url('../../styles/global.css');

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}


@media (max-width: 430px) {
    .blog-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }
}