---
import { Card } from "../../components/ClientCard/Card";
import Layout from "../../layouts/ComponentsLayout/Layout.astro";
import styles from "./your-content.module.css";
---

<Layout title='Blog'>
  <div class={styles.buttonsWrapper}>
    <Card as='href' href='your-content/your-blogs' title='Your Blogs' styles={{ fontSize: "3rem" }} />
    <Card as='href' href='your-content/new-blog' title='New Blog' styles={{ fontSize: "3rem" }} />
  </div>
</Layout>