:root {
    --main-bg-color: #0d0f18;
    --main-lighter-bg-color: #131624;
    --main-lighter-border-color: #131624f5;
    --main-bg-color-hover: #0d1521f9;
    --main-bg-color-image: #1f2630;
    --color-primary: #020204;
    --color-primary-hover:#007bff;
    --color-text-on-primary: #FFF;
    --editor-bg-color: #fefcfc;
    --editor-text-color: #000;
    --inactive-link-color: rgba(255, 255, 255, 0.657);
    --active-link-color: #FFF;
    --comment-like-background-color: #404663;
    --header-font-family: 'Open Sans', sans-serif;
    --text-font-family: 'Open Sans', sans-serif;
}
[data-theme="dark"] {
  /* Dark theme */
  --main-bg-color: #0d0f18;
  --main-lighter-bg-color: #131624;
  --main-lighter-border-color: #131624f5;
  --main-bg-color-hover: #0d1521f9;
  --main-bg-color-image: #1f2630;
  --color-primary: #020204;
  --color-primary-hover:#007bff;
  --color-text-on-primary: #FFF;
  --editor-bg-color: #fefcfc;
  --editor-text-color: #000;
  --inactive-link-color: rgba(255, 255, 255, 0.657);
  --active-link-color: #FFF;
  --comment-like-background-color: #404663;

}


[data-theme="light"] {
  --text-color: var(--black);
  --button-color: var(--cobalt);
  --bg-color: var(--white);
  --footer-bg-color: var(--ui-gray-consent);
  --note-color: var(--ui-dark-gray);
}