@import url('../../layouts/ComponentsLayout/Layout.module.css'); 

.comment-wrapper {
    border: 2px solid white;
    border-radius: 15px;
    width: 800px;
    margin-bottom: 30px;
}
/* .comment-form {
    margin: 10px;
    display: flex;
    align-items: flex-start;
} */

.comment-input-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.comment-textarea {
    margin-right: 10px;
    border-radius: 20px;
    resize: none;
    height: 60px;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.comment-button {
    padding: 5px;
    background-color: #007BFF;
    color: var(--color-text-on-primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    width: 60px;
    margin-right: 5px;
}

.comments-display {
    margin-top: 20px;
    width: 750px;
  }
  
.comment {
    margin: 10px;
    color: var(--color-text-on-primary);
    background-color: var(--comment-like-background-color);
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: var(--header-font-family);
    word-wrap: break-word; /* add this line */
}

.comment-error {
    color: rgb(249, 68, 68);
    margin: 10px;
    font-family: var(--header-font-family);
}

@media (max-width: 1000px) {
    .comment {
        font-size: 2.6em;
    }
    .comment-textarea {
        font-size: 2.5em;
        height: 100px;
    }
    .comment-button {
        height: 100px;
        margin-bottom: 8px;
        font-size: 1.3em;
    }
}