@import url('../../styles/global.css');

.card {
    border: 2px solid var(--main-lighter-border-color);
    border-radius: 15px;
    transition: box-shadow 0.3s;
    background-color: var(--main-bg-color);
    overflow: hidden; /* Hide overflowing content */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px; /* Set a fixed height */
    width: 500px; /* Set a fixed width */
}

.card:hover {
   background-color: var(--main-bg-color-hover); 
}

.card-data-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 10px 0;
}


.sub-title {
    font-family: var(--header-font-family);
    color: var(--color-text-on-primary);
    font-size: 1rem;
}

.author-img {
    border-radius: 50%;
    margin-right: 3px;
    border: 3px solid var(--main-lighter-border-color);
}

.card-img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom: 2px solid var(  --main-lighter-border-color);
}

.main-title {
    font-family: var(--header-font-family);
    color: var(--color-text-on-primary);
    margin: 0%;
    font-size: 1.25rem;
    text-align: center;
}

.tag-list {
    margin-bottom: 25px;
}

@media (max-width: 430px) {
    .card {
        width: 90%; /* Adjust as needed */
        margin: 0 auto; /* Center the card */
    }
    .card-img {
        width: 100%;
        height: 200px;
    }
}