---

const promise = new Promise((resolve) => {
  setTimeout(() => {
    resolve('hello');
  }, 2000);
});

const hello = await promise; 
export const prerender = false;
// console.log('render TestOne!');

---


<div slot="test-one" style="color: white;">
    <p>{hello}</p>
</div>