---
const delay = (ms: any) => new Promise((resolve) => setTimeout(resolve, ms));
const factPromise = fetch('https://catfact.ninja/fact')
  .then((response) => response.json())
  .then((res) => delay(2000).then(() => res))
  .then((factData) => factData.fact);

---


<div slot="test-one" style="color: white;">
    <p>{factPromise}</p>
</div>