@import url('../../styles/global.css');

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat:round; 
    background-size: auto 100%;
  }
  
  .title{
    margin-top: 8%;
    color: var(--color-text-on-primary);
    font-family: var(--text-font-family);
    font-size: 2em;
  }


  .event-loop-image {
    border-radius: 30px;
  }

  .sub-title{
    color: var(--color-text-on-primary);
    font-family: var(--text-font-family);
    font-size: 2.5em;
  }

  .general-text {
    color: var(--color-text-on-primary);
    font-family: var(--text-font-family);
    font-size: 1em;
    animation: fadeIn 2s ease-in-out forwards;
    text-align: center;
  }

  .about-me {
    margin: 12%;
    outline: 1px solid var(--main-bg-color-hover);
    background-color: var(--main-lighter-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }

  .my-image {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: var(--main-bg-color-image);
  }

  .about-me-text{
    margin: 30px;
    color: var(--color-text-on-primary);
    font-family: var(--text-font-family);
    font-size: 1.2em;
    line-height: 1.5;
  }


  .icon-wrapper {
    outline: 1px solid var(--main-bg-color-hover);
    background-color: var(--main-lighter-bg-color);
    border-radius: 20px;
    margin-top: 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .image {
    margin: 10px;
    width: 150px;
    height: 150px;
  }
  

  @media (max-width: 430px) {
    .title {
      font-size: 2em; /* Adjust font size to fit smaller screen */
    }
    .icon-wrapper {
      overflow: auto;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      width: 100%; /* Use percentage to make it responsive */
    }
    .my-image {
      width: 85%; /* Use percentage to make it responsive */
      height: auto; /* Maintain aspect ratio */
    }
  }