@import url('../../layouts//ComponentsLayout//Layout.module.css');    

.header {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--inactive-link-color);
  background-color: var(--color-primary);
  height: 50px;
}
.image {
   margin: 10px 0px 0px 50px;
}

.link-list-header {
  margin-top: 10px;
  display: flex;
  list-style-type: none;
}

.menu {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-loop-image{
  border-radius: 10px;
}

.link-list-header a {
  text-decoration: none;
}

.link-list-header .link.active {
  color: var(--active-link-color);
  border-bottom: 3px solid var(--active-link-color); 
  padding-bottom: 5px; 
}

.link {
  margin-left: 25px;
  color: var(--inactive-link-color);
  font-family: var(--header-font-family);
  font-size: 1.2rem;
}

.menuToggle {
  display: none;
}

.menuClose {
  display: none;
}

.hamburger {
  display: none;
}
.link-list-footer {
  display: none;
}



@media (max-width: 430px) {
  .header {
    display: flex;
    justify-content: start;
    border-bottom: none;
    background-color: none;
    height: 80px;
  }
  .hamburger {
    display: block;
    font-size: 4em;
    cursor: pointer;
    color: var(--inactive-link-color);
    margin-left: 10px;
  }
  
  .menu {
    display: block;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--comment-like-background-color);
    padding: 20px;
    z-index: 1;
    height: 100%;
  }
  
  .menuToggle:checked ~ .menu {
    transform: translateX(0);
  }
  
  .menuClose {
    display: block;
    cursor: pointer;
    text-align: right;
    padding: 10px;
  }

  .link {
    font-size: 1.5rem;
  }

  .link-list-header {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
  }

  .link-list-header .link.active{
    border-bottom: none;
  }

  .link-list-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .link-list-footer a {
    text-decoration: none;
  }
  .link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 520px;
  }
}