---
import styles from './Footer.module.css';
---

<footer class={styles.footer}>
    <p>By Asaf Naory</p>
    <a href="https://www.linkedin.com/in/asaf-naory/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="mailto:asafnaory@gmail.com">Email</a>
    <a href="https://github.com/asafnaory" target="_blank" rel="noopener noreferrer">GitHub</a> <!-- add this line -->
  </footer>