@import url('../../../layouts/ComponentsLayout/Layout.module.css');    

.new-blog-preview-placeholder{
    font-family: var(--header-font-family);
    color: var(--color-text-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.new-blog-preview-button{
    margin-left: 2%;
}